= stylesheet_link_tag "one_news"
%div.content_wrapper
  %div.content

  %div.tell_friends
    = partial "tell_friends"
%div.right_column
  %div.miniblogs_wrapper
    = partial "miniblogs"
  %div.vkgroup
    = partial "vkgroup"
  %div.fbgroup
    = partial "fbgroup"
