%div.content_wrapper
  = partial "text_content"
  %div.right_column
    %div.miniblogs_wrapper
      = partial "miniblogs"
    %div.vkgroup
      = partial "vkgroup"
    %div.fbgroup
      = partial "fbgroup"
%div.blogs_wrapper
  = partial 'blogs'
