%div.text_content_wrapper
	%div.text_container
		%div.newsdate.date
			32 августа, 2015
		%h1
			Новое поступление незамерзайки(Н1)
		= partial "text_content"
		%div.tell_friends
			= partial "tell_friends"
		%div.comment_section
			= partial "vkcomments"
	%div.right_column
		%div.miniblogs_wrapper
			= partial "miniblogs"
		%div.vkgroup
			= partial "vkgroup"
		%div.fbgroup
			= partial "fbgroup"
%div.blogs_wrapper
	.blog-list-container
		%span.all-records
			%a{:href => '#'} Все записи
			&nbsp;
			%i.icon-angle-right
		%span.h4.upper
			больше записей из блогов

		%ul.blogs-list#blogCarusel.jcarousel-skin-tango
			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_1.jpg'}
				.date
					31 июля 2013
				%a{:href => '#'}
					встречайте
					%br
					наш новый сайт

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_2.jpg'}
				.date
					26 мая 2013
				%a{:href => '#'}
					открыт premium филиал в&nbsp;караганде

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_3.jpg'}
				.date
					19 марта 2013
				%a{:href => '#'}
					шиномонтаж за 20 минут

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_4.jpg'}
				.date
					1 февраля 2013
				%a{:href => '#'}
					новое поступление незамерзайки

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_1.jpg'}
				.date
					31 июля 2013
				%a{:href => '#'}
					встречайте
					%br
					наш новый сайт

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_2.jpg'}
				.date
					26 мая 2013
				%a{:href => '#'}
					открыт premium филиал в караганде
					открыт premium филиал в караганде
					открыт premium филиал в караганде

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_3.jpg'}
				.date
					19 марта 2013
				%a{:href => '#'}
					шиномонтаж за 20 минут

			%li.blog-elem
				%a{:href => '#'}
					%img{:src => 'images/blog/image_4.jpg'}
				.date
					1 февраля 2013
				%a{:href => '#'}
					новое поступление незамерзайки
