= partial 'franshiza_popver'

%div.text_content_wrapper
	%a.bbuy{:href=> '#', 'data-toggle' => 'modal', 'data-target' => '#franshiza-modal'}
		КУПИТЬ ФРАНШИЗУ
		.arrow
			>
	.flatten
	%div.text_container
		%div.story-type
			%img{:src => 'images/express-type.png'}
		%h1
			история успеха станции в чебоксарах
		= partial "text_success_details"
		%div.tell_friends
			= partial "tell_friends"
		%div.comment_section
			= partial "vkcomments"
	%div.right_column
		%div.vkgroup
			= partial "vkgroup"
		%div.fbgroup
			= partial "fbgroup"
%div.blogs_wrapper#success_history
	.blog-list-container
		%ul.blogs-list#blogCarusel.jcarousel-skin-tango1
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции.

			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции
			%li.blog-elem
				%a.success-box.sb-left{:href => '#'}
					.pic-box
						%img{:src => 'images/story-pic-1.png'}
					.tips
						.tips-type
						%img{:src => 'images/premium-type.png'}
						.tips-address
							НОВОСИБИРСК, МИРА 91
						.tips-body
							Изменение глобальной стратегии концентрирует анализ рыночных цен, работая над проектом.
							Клиентский спрос поддерживает тактический комплексный анализ ситуации, учитывая современные тенденции